.custom-calendar {
    border-radius: 12px;
    padding: 10px;
    border: 2px black;
  }
  
  .custom-calendar .react-calendar__tile {
    border-radius: 8px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
  }
  
  .custom-calendar .react-calendar__tile:enabled:hover {
    background: #e0e7ff;
  }
  
  .custom-calendar .react-calendar__tile--active {
    background: #4CAF4F;
    color: white;
    border-radius: 8px;
  }
  
  .custom-calendar .react-calendar__navigation button {
    background: transparent;
    border: none;
    font-size: 16px;
    color: #4d4d4d;
  }
  
  .custom-calendar .react-calendar__navigation button:hover {
    background: #4d4d4d;
    border-radius: 8px;
  }
  