* {
  font-family: Arial, Helvetica, sans-serif;
}

.payslip {
  border: 3px solid #000;
  width: 55%;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
}

.payslip-header {
  background-color: #0093DD;
  width: 340px;
  height: 200px;
  border: 2px solid #0093DD;
  border-radius: 0 0 30px 30px;
  margin-left: 50px;
}

.header-img {
  margin-top: -150px;
  margin-left: 375px;
  width: 320px;
  height: auto;
}

.header-title {
  color: #fff;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  text-align: center;
  margin-top: 30px;
}

.header-two {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
  margin-left: 40px;
}

table {
  margin-top: 10px;
  width: 90%;
  border-collapse: collapse;
  margin-left: 40px;
  margin-bottom: 30px;
  align-items: center;
}

th, td {
  border: 3px solid #AA396F;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.align {
  text-align: center;
}

.cell2 {
  border-bottom: 0;
}

.cell5 {
  border: 5px solid #AA396F;
}

.GovCon {
  font-weight:  bold;
  width: 185px;
  font-size: 11px;
  background-color: #AA396F;
  border-radius: 10px;
  padding: 2px;
  text-align: center;
}

.cell3 {
  border-bottom: 0;
}

.cell4 {
  border-top: 0;
  border-bottom: 0;
}

.none {
  border: none;
}

.cell1 {
  height: 45px;
}

.cell-w {
  width: 200px;
}

.container { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 20vh;
} 

button { 
  width: 180px; height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}