@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'revicons';
  src: url('/fonts/revicons.woff') format('woff');
}

@font-face {
  font-family: "AR JULIAN";
  src: url("/fonts/ARJULIAN.woff2") format("woff2"),
    url("fonts/ARJULIAN.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}